<div class="container">
    <article>
        <h1>Seja bem vindo!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean convallis nec urna id venenatis. Mauris facilisis sem odio,
            nec convallis lorem dignissim non. In hac habitasse platea dictumst.
            Integer ultricies tincidunt posuere. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia curae; Curabitur 
            dignissim purus eget quam gravida, id vehicula ex auctor.
        </p>
        <p> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean convallis nec urna id venenatis. Mauris facilisis sem odio,
            nec convallis lorem dignissim non. In hac habitasse platea dictumst.
            Integer ultricies tincidunt posuere. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia curae; Curabitur 
            dignissim purus eget quam gravida, id vehicula ex auctor.
        </p>
        <a href="/consulta">Fazer consulta</a>
    </article>
</div>